<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <link rel="stylesheet" type="text/css" href="/../static/monstyle.css" />

    <title>Communes françaises par code postal</title>

</head>
<body>
<div id="call" align="center">Communes françaises par code postal - Lancez une recherche sur Wikidata</div>
<div id="searchform"><form action="search" method= "post" width="90%" id="searchform" name="top">
    <input pattern=".{4,5}" required title="Minimum de 4 caractères et un maximum de 5" type="search" placeholder="Code postal" name="search" id="search" required/>
    <button type="submit" id="boutonRecherche" class="searchbutton" onclick="
    var val = document.getElementById('search').value;
    if (val.length == 5) {
    	$('#loading').show();
    	document.getElementById('Commentaire').innerText='';

    }">Rechercher</button>
</form></div>

<div id="content">
	<div id="loading" align="center" >
		<img src="/static/images/wait.gif" />
	</div>
    <div id="Commentaire" align="center">
        {% if items is defined %}
            {% if items|length == 0 %}
                <p style="color:darkgray;">Aucun résultat sur Wikidata.</p>
            {% else %}
                <p style="color:darkgray;">{{ items|length }} résultats sur Wikidata.</p>
            {% endif %}
        {% endif %}
    </div>

    <div style="margin:5px auto; width:50%;" id="res">
        <table>
            {% for item in items %}
                <tr style="border: dashed black; border-width: 1px; ">
                    <td width="40%" valign="top">
                        {% if item.image is defined %}
                            <img src="{{ item.image.value }}" width="75%" />
                        {% endif %}
                    </td>
                    <td align="left" width="50%" valign="top">
                        <h1><a href="{{ item.commune.value }}" id="nom_ville">{{ item.communeLabel.value }}</a></h1>
                        <ul>
                            <li>{% if item.population is defined %}
                                Population : {{ item.population.value }}
                            {% endif %}</li>
                            <li>{% if item.superficie is defined %}
                                Superficie : {{ item.superficie.value }}
                            {% endif %}</li>
                            {% if item.site is defined %}
                                <li><a href="{{ item.site.value }}">Site web</a></li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>

</html>